@media(min-width: 1700px) {
    #change-password-info {
        padding: 1.4vw;
    }

    #change-password-info h2 {
        font-size: 1.3vw;
        margin-bottom: 1vw;
    }

    #change-password-info p {
        font-size: 1.1vw;
    }
    
    button {
        margin-top: 1vw;
    }

    #form-container {
        padding-bottom: 2vw;
    }
}