input {
  border-radius: 0.25rem;
  background-color: #770c0c;
  color: #b9b9b9;
  font-size: 0.97rem;
  width: 90%;
  padding: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

#registrate-link {
  text-decoration: underline;
}

a {
  color: #2563eb;
}

button {
  font-size: 0.99rem;
}

span {
  width: 90%;
  text-align: start;
  padding: 0.5vh;
  margin-top: -0.5vh;
  font-size: 1rem;
}

@media(min-width: 1700px) {
  input,
  #select-options {
    color: #b9b9b9;
    font-size: 2.1vh;
    width: 90%;
    padding: 2vh;
    margin-top: 1vh;
  }

  #select-options {
    margin-bottom: 1.7vh;
  }

  input {
    background-color: #770c0c;
    margin-bottom: 1vh;
  }

  button {
    font-size: 2vh;
    height: 7vh;
  }

  #password-reset-question,
  #login-footer {
    font-size: 2vh;
  }
}