@media(min-width: 1700px) {
    #text-counter {
        font-size: 2vh;
        margin: 0.5vh;
    }
    #form-container {
        padding-bottom: 3vh;
        border-radius: 1rem;
    }
    #line-separator {
        height: 0.3vh;
    }

    #register-title {
        border-radius: 1rem;
        padding: 3vh;
        height: 10vh;
        font-size: 3vh;
    }
}