a {
    color: #2563eb;
}

@media(min-width: 1700px) {
    #text-counter {
        font-size: 1.2vw;
        margin: 0.5vh;
    }
    #form-container {
        padding-bottom: 3vh;
        border-radius: 1rem;
    }
    #line-separator {
        height: 0.3vh;
    }

    #register-title {
        border-radius: 1rem 1rem 0 0;
        padding: 2vw;
        height: 6vw;
        font-size: 2vw;
    }

    #register-login-option {
        margin-top: 1vw;
    }
}